.git
.next
node_modules
coverage
out
build
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example
apps/fulltech_technicians_flutter/build
apps/fulltech_technicians_flutter/.dart_tool
apps/fulltech_technicians_flutter/.flutter-plugins
apps/fulltech_technicians_flutter/.flutter-plugins-dependencies
